@import './common/constants.scss';

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo {
    width: 120px;
    height: 40px;
    background-color: $color-main-first;
  }

  &__top {
    width: 100%;
    height: 4 * $tab;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__bottom {
    width: 100%;
    height: 2 * $tab;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, $color-main-first, #fff);
  }
}
