@import './common/constants.scss';

.slider {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-top: 0.5px solid #000;

  &__container {
    width: 100%;
    height: 720px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    column-gap: $tab;
    padding-top: 3 * $tab;
  }

  .slide {
    width: 31%;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform 0.4s ease;

    .slide-image-container {
      width: 100%;
      height: 65%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__image {
      width: 100%;
      height: 100%;
      display: inline-block;
      object-fit: cover;
      margin-bottom: 2 * $tab;
    }

    &__button {
      display: none;
    }

    &__address {
      font-size: 20px;
      font-weight: 300;
      font-style: italic;
      color: $color-main-first;
    }

    &__description {
      color: $color-black;
      font-size: 20px;
      font-weight: 300;
    }

    &__span {
      color: $color-main-first;
      font-style: italic;
    }
  }

  .arrow {
    position: absolute;
    visibility: hidden;
    width: 60px;
    height: 60px;

    &_left {
      left: 60px;
      top: 25%;
    }

    &_right {
      right: 60px;
      top: 25%;
    }

    &__box {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }

    &__shevron {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &__shevron_right {
      transform: rotate(180deg);
    }
  }

  #slide_1:checked ~ #third,
  #slide_2:checked ~ #first,
  #slide_3:checked ~ #second {
    transform: translateX(-105%);
    z-index: 0;
    img {
      height: 90%;
    }
  }

  #slide_1:checked ~ #second,
  #slide_2:checked ~ #third,
  #slide_3:checked ~ #first {
    transform: translateX(105%);
    z-index: 0;
    img {
      height: 90%;
    }
  }

  #slide_1:checked ~ #first,
  #slide_2:checked ~ #second,
  #slide_3:checked ~ #third {
    transform: translatex(0);
    z-index: 1;
    img {
      height: 100%;
    }
  }

  #slide_1:checked ~ #arrow_next label:nth-child(3),
  #slide_2:checked ~ #arrow_next label:nth-child(1),
  #slide_3:checked ~ #arrow_next label:nth-child(2) {
    visibility: visible;
  }

  #slide_1:checked ~ #arrow_next label:nth-child(1),
  #slide_1:checked ~ #arrow_next label:nth-child(2) {
    visibility: hidden;
  }

  #slide_2:checked ~ #arrow_next label:nth-child(2),
  #slide_2:checked ~ #arrow_next label:nth-child(3) {
    visibility: hidden;
  }

  #slide_3:checked ~ #arrow_next label:nth-child(1),
  #slide_3:checked ~ #arrow_next label:nth-child(3) {
    visibility: hidden;
  }

  #slide_1:checked ~ #arrow_previous label:nth-child(2),
  #slide_2:checked ~ #arrow_previous label:nth-child(3),
  #slide_3:checked ~ #arrow_previous label:nth-child(1) {
    visibility: visible;
  }
}
